* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    margin: 0;
    padding: 0;
    width: 100%;
}

body > .row > .col-5 {
    height: 100vh;
    padding: 1rem 2rem;
}

body > .row > .col-7 {
    padding: 1rem 2rem;
    background-color: rgb(228, 227, 227);
    height: 100vh;
}

.row > .col-7 > .row > .col-10 {
    display: flex;
    align-items: center;
    background-color: red;
}

.row > .col-7 > .row ul {    
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    padding-left: 0;
}

.row > .col-7 > .row ul a {
    text-decoration: none;
    color: black;   
    font-size: 100%;
    font-weight: bold;
}